{% extends "_mensile.html.j2" %}
{% block classe %}copertina{% endblock %}
{% block contenuto %}
  <div class="copertina-contenuto">
    <h1 class="copertina-titolo"><span>Calen</span><span>dario</span><span>Magic</span></h1>
    <div class="copertina-mese">{{ mese }}</div>
  </div>
{% endblock %}
